/**
    Name: peridot theme
 */

 .cm-s-peridot span.cm-variable-3 { color: red; font-weight: bold;}
.cm-s-peridot span.cm-move { color: brown; font-weight: bold;}
.cm-s-peridot span.cm-left { color: blue; font-weight: bold;}
.cm-s-peridot span.cm-picktoken { color: violet; font-weight: bold;}
.cm-s-peridot span.cm-droptoken { color: pink; font-weight: bold;}
.cm-s-peridot span.cm-end { color: green; font-weight: bold;}
.cm-s-peridot span.cm-condition { color: orange; font-weight: bold;}
.cm-s-peridot span.cm-number { color: lightblue; font-weight: bold;}
.cm-s-peridot span.cm-structure { color: darkblue; font-weight: bold;}

.cm-s-peridot span.cm-comment { color: #00b47d; font-style: italic; }

.cm-s-peridot .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }
.cm-s-peridot .CodeMirror-activeline-background { background: #323232; }
.cm-s-peridot .CodeMirrir-linenumber { color: #606366; }

.cm-s-peridot div.CodeMirror-selected { background: light-gray; }
